.container {
  border-radius: 10px;
  background-color: white;
  color: black;
  max-width: 20vw;
  height: 60vh;
  overflow: auto;

  position: relative;
  padding: 20px 16px 0 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.card {
  width: 297.428px;
  height: 36.747px;
  text-align: left;
  word-wrap: wrap;
  display: flex;
  gap: 8px;
  place-items: center;
}

.filterButton {
  background-color: #fff;
  border: none;
}

.filtersContainer {
  word-wrap: wrap;
}
