.container {
  border-radius: 10px;
  background-color: white;
  color: black;
  max-width: 20vw;
  height: 60vh;
  overflow: auto;

  position: relative;
}
.tabsContainer {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  padding: 0 16px;
}
.tabButton {
  width: 103.96px;
  height: 36px;
  border-radius: 25px;
  border: 1.5px solid #2f67e9;
  color: black;
  background: var(--btnColor, #2f67e9);
  cursor: pointer;
  transition: background-color 0.7s ease;
}

.tabButton:hover {
  background-color: #2f67e9;
  color: white;
}

.activeTab {
  background-color: #2f67e9;
  color: #ffffff;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.card {
  width: 297.428px;
  height: 36.747px;
  text-align: left;
  word-wrap: wrap;
  display: flex;
  gap: 8px;
  place-items: center;
}

.filterButton {
  background-color: #fff;
  border: none;
}

.filtersContainer {
  word-wrap: wrap;
}
